/* Общая стилизация */
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img { /* универсальное правило для того, что бы контентные изображения не вылезали за блоки в которых они находятся */
  max-width: 100%;
  height: auto;
}

.button {
  padding: 14px 0 14px 0;
  color: #ffffff; /*необходимая персональная стилизация ссылки */
  background-color: #ee3643;
  border-radius: 2px;
}

.centering-block {
  width: 940px;
  margin: 0 auto;
  padding: 0px 10px 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* стилизация шапки */

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: #f3f7f9;
}

/* Средняя колонка шапки */

.main-header__middle-column {
  order: 2;
}

.centering-block--header-middle {
  display: flex;
}

.main-header__page-title {
  margin: 0 59px 40px 53px;
  width: 210px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-feedback {
  margin-right: 69px;
  width: 269px;
}

.header-feedback__phone-block {
  position: relative;;
  width: 264px;
  border: 3px solid #ffffff;
}

.header-feedback__phone-number {
  display: block;
  margin: 11px 0 8px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-feedback__phone-number::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
}

.header-feedback__adress {
  margin: 0 0 0 10px;
  line-height: 24px;
  color: #32425c;
}

.main-header__user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 281px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__user-navigation-item {
  position: relative;;
  background-color: #ffffff;
}

.main-header__user-navigation-link {
  display: block;
  margin: 14px 27px 16px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-header__user-navigation-link--enter {
  margin-left: 48px;
}

.main-header__user-navigation-link--enter::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  opacity: 0.3;
}

.main-header__user-navigation-link:hover {
  color: #ee3643;
}

.main-header__user-navigation-link:hover::before {
  opacity: 1;
}

.main-header__user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__user-navigation-link:active::before {
  opacity: 0.5;
}

/* Средняя колонка шапки */


/* Верхняя колонка шапки */
.main-header__top-column {
  display: flex;
  order: 1;
  margin-bottom: 47px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.centering-block--header-top {
  display: flex;
}

.main-header__search-block {
  position: relative;;
}

.main-header__search-logo {
  position: absolute;
  left: 17px;
  top: 12px;
}

.main-header__search-field { /* сброс стилей по умолчанию у поля поиска */
  -webkit-appearance: none;
  width: 270px;
  padding: 0;
  padding-top: 14px;
  padding-left: 49px;
  padding-bottom: 13px;
  border: 0;
  background-color: #293449;
}

.main-header__search-logo-figure {
  fill: #ffffff;
}

.main-header__search-logo {
  opacity: 0.3;
}

.main-header__search-field::-webkit-search-cancel-button { /* сброс крестика для сброса введенных в поле данных */
  -webkit-appearance: none;
  margin: 0;
}

.main-header__search-field:focus {
  color: #000000;
  background-color: #ffffff;
}

.main-header__search-field:hover + .main-header__search-logo {
  opacity: 1;
}

.main-header__search-field:focus + .main-header__search-logo {
  opacity: 1;
}

.main-header__search-field:focus + .main-header__search-logo .main-header__search-logo-figure { /* подсвечивание иконки поиска при фокусе на поле поиска */
  fill: #ee3643;
}

.main-header__search-field::placeholder { /* Персональная стилизация подписи в поле-поиска*/
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header__logo-block {
  position: relative;;
  width: 220px;
  background-color: #ee3643;
}

.main-header__logo-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.main-header__logo-block:hover {
  background-color: #ca2c37;
}

.main-header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; /* Для стилизации ссылки на странице каталога */
}

.main-header__cart-block,
.main-header__bookmarks-block {
  position: relative;
}

.main-header__bookmarks-block {
  width: 122px;
  margin-right: 28px;
}

.main-header__cart-block {
  width: 122px;
  margin-right: 31px;
}

.main-header__cart-text::before,
.main-header__bookmarks-text::before {
  content: "";
  position: absolute;
  top: 12px;
  display: block;
  /* background-color: red; */
}

.main-header__cart-text::before {
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  opacity: 0.3;
}

.main-header__bookmarks-text::before {
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.main-header__bookmarks-text,
.main-header__cart-text {
  margin-top: 14px;
  margin-bottom: 0;
  padding-left: 50px;
  cursor: pointer;
}

.main-header__bookmarks-text {
  padding-left: 44px;
}

.main-header__bookmarks-text:hover::before,
.main-header__cart-text:hover::before {
  opacity: 1;
}

.main-header__bookmarks-text:active,
.main-header__cart-text:active {
  opacity: 0.6;
}

/* Верхняя колонка шапки */


/* Нижняя колонка шапки */
.main-header__bottom-column {
  order: 3;
  min-height: 60px;
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
}

.main-navigation__link {
  display: block;
  padding: 22px 31px 26px 31px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation__link:hover {
  background-color: #293449;
}

.main-navigation__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-header__buy-block {
  background-color: #63a63e;
}

.main-header__buy-block:hover {
  background-color: #5fbb2d;
}

.main-header__buy-block:active {
  background-color: #518534;
}

.main-header__buy-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header__buy-button {
  display: block;
  width: 109px;
  padding: 12px 20px 12px 20px;
  color: #ffffff;
}

/* Нижняя колонка шапки */

/* стилизация основного содержания */

/* стилизация презентационного блока */

.centering-block--presentation-block { /* тут будет микросетка презентационного блока */
  display: flex;
  flex-wrap: wrap;
}

.presentation-category {
  width: 300px;
  min-height: 123px;
}

.presentation-category__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.presentation-category__link:hover {
  background-color: #cccccc;
}

.presentation-category__link:active {
  background-color: #b2b2b2;
}

.service-presentation__presentation-category--material-category {
  background-color: #ffbf47;
}

.presentation-category__link--material-link {
  color: #ffffff;
  background-color: #e5ac40;
}

.service-presentation__presentation-category--tools-category {
  background-color: #3bbce3;
}

.presentation-category__link--tools-link {
  color: #ffffff;
  background-color: #35a9cc;
}

.service-presentation__presentation-category--machinery-category {
  background-color: #dc91d8;
}

.presentation-category__link--machinery-link {
  color: #ffffff;
  background-color: #c682c2;
}

/* Стилизация слайдера */

.product-slider {
  width: 621px;
  min-height: 266px;
}

.product-slider__slide-item { /* для расположения изображения блока как фона */
  position: relative;
}

.product-slider__slide-image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.product-slider__drills-slide {
  display: none; /* Временно, для удобного построения сетки */
}

.product-slider__slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: gray; /*временно */
}

.product-slider__slide-slogan {
  font-size: 18px;
  line-height: 24px;
  color: gray; /*временно */
}

.product-slider__slide-link:hover {
  background-color: #ca2c37;
}

.product-slider__slide-link:active {
  background-color: #ba2732;
}

.product-slider__buttons-block {
  display: flex;
  justify-content: space-between
}

.product-slider__button { /* сброс изначальных стилей кнопок */
  padding: 0;
  border: none;
  width: 22px;
  height: 40px;
  background: none;
}

.product-slider__button--prev {
  margin-left: 25px;
  background-image: url("../img/icon-left.svg");
  background-color: #000000;
}

.product-slider__button--next {
  margin-right: 20px;
  background-image: url("../img/icon-right.svg");
  background-color: #000000;
}


/* Стилизация слайдера */

.service-presentation__presentation-category--discounts-category {
  background-color: #8ed78f;
}

.presentation-category__link--discounts-link {
  color: #ffffff;
  background-color: #80c180;
}

.service-presentation__presentation-category--delivery-category {
  background-color: #ffc047;
}

.presentation-category__link--delivery-link {
  color: #ffffff;
  background-color: #e5ac40;
}

/* стилизация презентационного блока */

/* стилизация блока популярных товаров */

.top-products__head-block {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 30px;
  background-color: #f9f5f0;
}

.top-products__title,
.top-makers__title { /* + стилизация заголовка к блоке популярных производителей*/
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.store-product {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.store-product__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.store-product__old-price {
  text-decoration: line-through;
  color: #a9a9a9;
}

.store-product__current-price {
  color: #ffffff;
}

/* стилизация блока популярных товаров */


/* стилизация блока популярных производителей */

.top-makers__head-block {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 26px;
  background-color: #f9f5f0;
}

/* стилизация блока популярных производителей */


/* стилизация блока сервисов */

.services {
  color: #000000;
  background-color: #f4f8f9;
}

.services__head-description {
  width: 400px;
}

.services__description-item--guarantee {
  display: none; /* временно, для построения сетки */
}

.services__description-item--credit {
  display: none; /* временно, для построения сетки */
}

.services__main-content {
  display: flex;
}

.services__list {
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
}

.services__description-item {
  width: 301px;
}

/* стилизация блока сервисов */


/* стилизация блока описания магазина */
.about-shop {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.company-description {
  width: 540px;
}

.contacts {
  width: 300px;
}

/* стилизация блока описания магазина */



/* Стилизация подвала */


/* стилизация верхней колонки подвала */
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.centering-block--footer-top {
  display: flex;
  justify-content: space-between;
}

.main-footer__logo-block {
  width: 220px;
}

.main-footer__logo-link {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.footer-navigation {
  width: 550px;
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* стилизация верхней колонки подвала */

.centering-block--footer-middle {
  display: flex;
}

.main-footer__office-location {
  width: 340px;
}

.footer-navigation__link:hover,
.main-footer__navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation__link:active,
.main-footer__navigation-link:active {
  opacity: 0.5;
}

.main-footer__product-navigation { /* стилизация средней колонки подвала*/
  width: 540px;
  list-style: none;
}

.footer-navigation__link {
  color: #f3f7f9;
}

.main-footer__navigation-link,
.main-footer__developer-name { /* стилизация средней колонки подвала + стилизация двух строчек нижней*/
  color: #ffd180;
}

.main-footer__developer-name:hover {
  text-decoration: underline;
}

.main-footer__developer-name:active {
  color: #ee3643;
}

/* стилизация нижней части подвала */

.centering-block--footer-bottom {
  display: flex;
}

.main-footer__bottom-column {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  width: 131px;
  list-style: none;
}

.main-footer__copyright {
  margin-right: 150px;
  width: 240px;
}

.main-footer__developers {
  margin-left: auto;
  width: 300px;
}

/* Стилизация всплывающего окна с формой обратной связи */

.modal--feedback__label-field {
  font-size: 18px;
}

.modal--feedback__name-field::placeholder,
.modal--feedback__mail-field::placeholder,
.modal--feedback__message-area::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #a9a9a9;
}

/* Стилизация страницы каталога */

/* Стилазцая шапки страницы каталога */

.main-header__user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-header__user-profile-link {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.main-header__user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__user-profile-link:hover {
  color: #ba2732;
}

.main-header__user-profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Стилизация основного создержания страницы каталога */

.page-header__breadcrumbs {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.page-header__link {
  color: #000000;
}

.page-header__title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-settings {
  display: flex;
  justify-content: space-between;
}

/* стилизация блока с формой */

.setup {
  width: 220px;
}

.setup-header {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.setup-product__group-title {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.setup-product__label-field {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.setup-product__button-show {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

/* стилизация блока с формой */


/* стилизация блока сортировки товаров */

.sort-block {
  width: 700px;
  font-family: "PTSans", Arial, sans-serif;
}

.sort-block__sort-panel {
  font-size: 13px;
  color: #000000;
  background-color: #f7f3ec;
}

.sort-block__sort-type-list {
  list-style: none;
}

.sort-block__sort-type-link {
  color: rgba(0, 0, 0, 0.3);
}

.sort-block__sort-type-link:hover {
  color: rgba(0, 0, 0, 1);
}

.sort-block__sort-type-link:active {
  color: #ee3643;
}

.item-card {
  font-size: 17px;
  line-height: 18px;
}

.item-card__product-description {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.item-card__old-price {
  text-decoration: line-through;
  color: #999999;
}

.item-card__current-price {
  background-color: #ee3643;
}

.sort-block__pagination {
  font-size: 13px;
}

.sort-block__pagination-link {
  color: #000000;
}

.sort-block__pagination-link--current {
  color: #ffffff;
}

/* стилизация блока сортировки товаров */


/* стилизация блока резюмирования страницы */

.page-description {
  color: #000000;
  background-color: #f2f6f8;
}

/* стилизация блока резюмирования страницы */



/* Стилизация модального окна добавления товара в корзину */

.modal--cart-add__select-actions {
  background-color: #f1f1f1;
}

.modal--cart-add__continue-select {
  background-color: #ffffff;
}
