/* Общая стилизация */
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  color: #ffffff; /*необходимая персональная стилизация ссылки */
  background-color: #ee3643;
}

/* стилизация шапки */

.main-header {
  background-color: #f3f7f9;
}

/* Средняя колонка шапки */

.main-header__page-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-feedback__phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-feedback__adress {
  line-height: 24px;
  color: #32425c;
}

.main-header__user-navigation-item {
  background-color: #ffffff;
}

.main-header__user-navigation-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

/* Средняя колонка шапки */


/* Верхняя колонка шапки */
.main-header__top-column {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header__search-field::placeholder { /* Персональная стилизация подписи в поле-поиска*/
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header__logo-block {
  background-color: #ee3643;
}

.main-header__logo-block:hover {
  background-color: #ca2c37;
}

.main-header__logo-link {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-header__bookmarks-text:active,
.main-header__cart-text:active {
  opacity: 0.6;
}

/* Верхняя колонка шапки */


/* Нижняя колонка шапки */
.main-navigation {
  background-color: #32425c;
}

.main-navigation__list {
  list-style: none;
}

.main-navigation__link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-header__buy-block {
  background-color: #63a63e;
}

.main-header__buy-block:hover {
  background-color: #5fbb2d;
}

.main-header__buy-block:active {
  background-color: #518534;
}

.main-header__buy-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header__buy-button {
  color: #ffffff;
}

/* Нижняя колонка шапки */

/* стилизация основного содержания */

/* стилизация презентационного блока */

.material-category__title,
.tools-category__title,
.machinery-category__title,
.discounts-category__title,
.delivery-category__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.material-category__link:hover,
.tools-category__link:hover,
.machinery-category__link:hover,
.discounts-category__link:hover,
.delivery-category__link:hover {
  background-color: #cccccc;
}

.material-category__link:active,
.tools-category__link:active,
.machinery-category__link:active,
.discounts-category__link:active,
.delivery-category__link:active {
  background-color: #b2b2b2;
}

.material-category {
  background-color: #ffbf47;
}

.material-category__link {
  color: #ffffff;
  background-color: #e5ac40;
}

.tools-category {
  background-color: #3bbce3;
}

.tools-category__link {
  color: #ffffff;
  background-color: #35a9cc;
}

.machinery-category {
  background-color: #dc91d8;
}

.machinery-category__link {
  color: #ffffff;
  background-color: #c682c2;
}

/* Стилизация слайдера */

.product-slider__slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: gray; /*временно */
}

.product-slider__slide-slogan {
  font-size: 18px;
  line-height: 24px;
  color: gray; /*временно */
}

.product-slider__slide-link:hover {
  background-color: #ca2c37;
}

.product-slider__slide-link:active {
  background-color: #ba2732;
}


/* Стилизация слайдера */

.discounts-category {
  background-color: #8ed78f;
}

.discounts-category__link {
  color: #ffffff;
  background-color: #80c180;
}

.delivery-category {
  background-color: #ffc047;
}

.delivery-category__link {
  color: #ffffff;
  background-color: #e5ac40;
}

/* стилизация презентационного блока */

/* стилизация блока популярных товаров */

.top-products__head-block {
  background-color: #f9f5f0;
}

.top-products__title,
.top-makers__title { /* + стилизация заголовка к блоке популярных производителей*/
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.store-product {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.store-product__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.store-product__old-price {
  text-decoration: line-through;
  color: #a9a9a9;
}

.store-product__current-price {
  color: #ffffff;
}

/* стилизация блока популярных товаров */

.services,
.about-shop { /* тут будут блоки "Сервисы" и "О магазине"*/
  color: #000000;
}

/* Стилизация подвала */


/* стилизация верхней колонки подвала */
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.main-footer__logo-link {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

/* стилизация верхней колонки подвала */

.footer-navigation__list,
.main-footer__product-navigation { /* стилизация средней колонки подвала*/
  list-style: none;
}

.footer-navigation__link {
  color: #f3f7f9;
}

.main-footer__navigation-link,
.main-footer__developer-name { /* стилизация средней колонки подвала + стилизация двух строчек нижней*/
  color: #ffd180;
}

.main-footer__bottom-column {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

/* Стилизация всплывающего окна с формой обратной связи */

.modal--feedback__label-field {
  font-size: 18px;
}

.modal--feedback__name-field::placeholder,
.modal--feedback__mail-field::placeholder,
.modal--feedback__message-area::placeholder {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #a9a9a9;
}

/* Стилизация страницы каталога */

/* Стилазцая шапки страницы каталога */

.main-header__user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-header__user-profile-link {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

/* Стилизация основного создержания страницы каталога */

.breadcrumbs {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.breadcrumbs__link {
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

/* стилизация блока с формой */

.setup-header {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.setup-product__group-title {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.setup-product__label-field {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.setup-product__button-show {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

/* стилизация блока с формой */


/* стилизация блока сортировки товаров */
.sort-block {
  font-family: "PTSans", Arial, sans-serif;
}

.sort-block__sort-panel {
  font-size: 13px;
  color: #000000;
  background-color: #f7f3ec;
}

.sort-block__sort-type-list {
  list-style: none;
}

.sort-block__sort-type-link {
  color: #000000;
  opacity: 0.3;
}

.item-card {
  font-size: 17px;
  line-height: 18px;
}

.item-card__product-description {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.item-card__old-price {
  text-decoration: line-through;
  color: #999999;
}

.item-card__current-price {
  background-color: #ee3643;
}

.sort-block__pagination {
  font-size: 13px;
}

.sort-block__pagination-link {
  color: #000000;
}

.sort-block__pagination-link--current {
  color: #ffffff;
}

/* стилизация блока сортировки товаров */

.page-description {
  color: #000000;
  background-color: #f2f6f8;
}

/* Стилизация модального окна добавления товара в корзину */

.modal--cart-add__select-actions {
  background-color: #f1f1f1;
}

.modal--cart-add__continue-select {
  background-color: #ffffff;
}
